.custom-tab-bar {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary);
  padding: 4px 12px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.custom-tab-bar ion-tab-button {
  color: #f0f4f8;
  background-color: var(--ion-color-primary);
  font-size: 1rem;
}
