# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# No pipelines please
.gitlab-ci.yml

# testing
/coverage

# misc
.DS_Store

# Frontend
/frontend/volumes/config/*
/frontend/dist
/frontend/dev-dist
/frontend/node_modules
!/frontend/volumes/.env.example

# Backend   
/backend/volumes/config/*
/backend/volumes/database/*
/backend/volumes/data/*
/backend/logs/*
/backend/coverage/
/backend/node_modules
!/backend/volumes/.env.example
!/backend/volumes/*.example.js

# Codeing Environment
/.vscode/*
!/.vscode/extensions.json
.idea

# log
*.log


