/* Projekt-Beschreibung */
.project-description {
  font-size: 1.2rem;
  color: #e0e0e0;
  margin-bottom: 10px;
}

/* Projekt-Details */
.project-details p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5px;
}

/* Projekt-Button */
.project-action-button {
  margin-top: 10px;
}

.filter-input {
  --background: rgba(255, 255, 255, 0.1); /* Halbtransparenter Hintergrund */
  --color: #ffffff; /* Weiße Schriftfarbe */
  --placeholder-color: rgba(255, 255, 255, 0.6); /* Helleres Weiß für Platzhalter */
  --padding-start: 10px; /* Innenabstand links */
  border-radius: 5px; /* Abgerundete Ecken */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Leichte Umrandung */
}

.filter-input:focus {
  --background: rgba(255, 255, 255, 0.2); /* Hellerer Hintergrund beim Fokus */
  border-color: #ffffff; /* Weiße Umrandung beim Fokus */
}

.project-details {
  text-align: left; /* Linksbündige Ausrichtung */
  margin-top: 10px; /* Optional: Abstand nach oben */
}

.project-description {
  text-align: left; /* Linksbündige Ausrichtung */
}