/*
    The settings for Modal  ard defindes in ./theme/variables.css
    ion-modal#edit-profile-modal
    ion-modal#edit-profile-modal::part(backdrop) 
    ion-modal#edit-profile-modal ion-toolbar 
*/

.section-label {
  font-size: 1rem;
  font-weight: bold;
  margin: 16px 0 8px 16px;
  color: var(--ion-color-medium);
}
