.project-detail-card:hover {
  transform: none;
  box-shadow: none;
}

.project-detail {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: #a0a0a0;
}

.participant-card:hover {
  transform: none;
  box-shadow: none;
}

.participant-card .join-project-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.participant-card .join-project-button-container button {
  width: 100%; /* Button nimmt die volle Breite der IonCard ein */
}

.project-badge-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%; /* Breite des Badges */
  height: 0; /* Keine zusätzliche Höhe */
  z-index: 2;
}

.project-badge {
  position: absolute;
  top: 80px; /* Abstand vom oberen Rand der IonCard */
  right: -20px; /* Abstand vom rechten Rand der IonCard */
  transform: rotate(45deg); /* Diagonale Ausrichtung */
  transform-origin: top right;
  background-color: #007bff; /* Standardfarbe für das Badge */
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 30px; /* Größe des Banners */
  text-align: center;
  z-index: 3;
}

.initiator-badge {
  background-color: #007bff; /* Blau für Initiator */
}

.participant-badge {
  background-color: #28a745; /* Grün für Teilnehmer */
}
