.profilecard-card {
  border-radius: 18px;
  box-shadow: var(--ion-box-shadow, 0 4px 12px rgba(0, 0, 0, 0.1));
  padding: 8px;
  background-color: #ffffff;
}

.profilecard-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.profilecard-grid {
  padding: 0;
}

.profilecard-row {
  align-items: flex-start;
}

.profilecard-col {
  font-size: 16px;
  padding: 0 8px 0 0;
  color: var(--ion-text-color);
}

.profilecard-col-fixedAvatar {
  max-width: 100px; 
  flex: 0 0 100px; 
  padding: 0 8px 0 0;
}
.profilecard-col-fixedAction {
  max-width: 50px; 
  flex: 0 0 50px; 
  padding: 0 8px 0 0;
}

.profilecard-col-flexible {
  flex: 1; /* Nimmt den verbleibenden Platz ein */
}

.profilecard-avatar {
  width: 75;
  height: 75px;
  border-radius: 50%;
  border: 6px solid var(--ion-color-tertiary);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.profilecard-avatar:hover {
  transform: scale(1.1);
}

.profilecard-info-label {
  margin-bottom: 12px;
  font-size: 1rem;
  color: var(--ion-color-primary);
}
.profilecard-info-rolelabel {
  margin-top: 10px;
  font-size: 1rem;
  display: block;
}

.profilecard-info-text {
  font-size: 0.9rem;
  color: var(--ion-text-color);
}
.profilecard-info-text p {
  margin: 5px 0 0 0;
}

.profilecard-info-labelicon { 
  margin-right: 8px;
  color: var(--ion-color-primary);
}

.profilecard-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.profilecard-list li {
  display: flex; 
  align-items: center; 
  gap: 8px;
  margin-bottom: 4px;
}
.profilecard-info-item-value {
  font-size: 0.9rem;
  text-align: left;
}

.profilecard-action-col {
  max-width: 50px;
  padding: 0px 0px;
}
.profilecard-actions {
  display: flex;
  flex-direction: column; 
  gap: 0; 
  align-items: center; 
  justify-content: center;
  height: 100%; 
}

/* Stile für ion-button innerhalb der ProfileCard */
.profilecard-actions ion-button {
  --border-radius: 50%;
  --size: 40px;
  width: var(--size);
  height: var(--size);
}

.profilecard-actions ion-button ion-icon {
  transform: scale(1.5);
}

.profilecard-actions-popover ion-button {
  --border-radius: 50%;
  --size: 40px;
  width: var(--size);
  height: var(--size);
}

.profilecard-actions-popover ion-button ion-icon {
  transform: scale(1.5);
}

.profilecard-actions-popover ion-button:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease-in-out;
}

/* Stile für ion-popover innerhalb der ProfileCard */
.profilecard-actions-menue {
  --background: var(--ion-color-tertiary);
  --box-shadow: 0 5px 10px 0 transparent;
  --width: 50px;
  margin-top: 10px;
}

ion-popover::part(backdrop) {
  background-color: transparent;
}

ion-popover::part(content) {
  border-radius: 20px; /* Rundet den Inhalt ab */
}
