.project-list-short {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem; /* Etwas größere Schrift für bessere Lesbarkeit */
  color: var(--ion-text-color);
}

.project-list-detail {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
  color: var(--ion-text-color-light);
}

.project-badge {
  position: absolute;
  top: 80px; /* Abstand vom oberen Rand der IonCard */
  right: -20px; /* Abstand vom rechten Rand der IonCard */
  transform: rotate(45deg); /* Diagonale Ausrichtung */
  transform-origin: top right;
  background-color: #007bff; /* Standardfarbe für das Badge */
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 0px;
  text-align: center;
  z-index: 3;
  width: 150px;
}

.initiator-badge {
  background-color: #007bff; /* Blau für Initiator */
}

.participant-badge {
  background-color: #28a745; /* Grün für Teilnehmer */
}
