:root {
  --ion-background-color: #F5F5F5;
  --ion-text-color: #555555;
  --ion-text-color-dark: #555555;
  --ion-text-color-light: #707070;
  --ion-text-color-contrast: #F0F0F0;
  --ion-card-background: #FFFFFF;
  --ion-card-border: #E0E0E0; /* Leichte Umrandung */
  --ion-color-primary: #00509E; /* Thalia-Blau */
  --ion-color-secondary: #FFD700; /* Warmes Gelb */
  --ion-color-tertiary: #6BBF59; /* Sanftes Grün */
  --ion-font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--ion-background-color);
  font-family: 'Roboto', sans-serif;
  color: var(--ion-text-color);
}

.main-header ion-toolbar {
  box-shadow: 0 4px 2px var(--ion-color-secondary);
}

.hackathon-content ion-toolbar { 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 5px;
}
.hackathon-content ion-toolbar ion-title {
  color: var(--ion-color-primary); 
  font-size: 1.5rem; 
  font-weight: bold;
  vertical-align: middle; 
}
.hackathon-content ion-toolbar ion-icon {
  color: var(--ion-color-primary); 
  font-size: 1.5rem;
  margin-right: 8px;
  vertical-align: middle; 
}


.hackathon-content ion-toolbar ion-button ion-icon {
  color: var(--ion-color-background); 
  margin-left: 5px;
}

ion-menu ion-header {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color-dark);
}

/* Menü Liste */
ion-menu ion-list {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

ion-menu ion-item {
  font-size: 1.2rem;
  color: var(--ion-text-color);
  --ion-item-background: transparent;
  --ion-item-hover-background: rgba(255, 255, 255, 0.1); /* Leichter Hover-Effekt */
}

ion-menu ion-icon {
  color: var(--ion-text-color);
}

ion-button {
  background-color: var(--ion-color-primary);
  color: #f5f5f5;
  border-radius: 8px;
  margin-top: 10px;
  transition:
    box-shadow 0.3s,
    transform 0.3s;
}

ion-button:hover {
  box-shadow: 0 0 10px var(--ion-color-primary);
  transform: scale(1.05);
}

ion-select {
  font-size: 1.5rem;
  color: var(--ion-color-primary);
}



/* Toast Messages */
.custom-toast {
  --background: var(--ion-color-primary);
  --color: white; /* Textfarbe */
  --border-radius: 12px; /* Abgerundete Ecken */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten */
  font-size: 1rem; /* Schriftgröße */
  padding: 16px; /* Innenabstand */
  margin-bottom: 40px;
}

.custom-toast-error {
  --background: #ff6b6b; /* Fehlerfarbe */
  --color: white;
  --border-radius: 12px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 16px;
}

/* Hackathon Page Styles */
.hackathon-content {
  padding: 16px;
}

.hackathon-grid {
  margin-top: 16px;
}

/* Hackathon Card Styles */
.hackathon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.hackathon-card {
  background-color: var(--ion-card-background);
  border: 1px solid var(--ion-card-border);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.hackathon-card ion-card-title {
  font-size: 1.8rem;
  margin-bottom: 10px; /* Mehr Abstand unter dem Titel */
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-secondary);
  padding-bottom: 5px;
}

.hackathon-card ion-card-content {
  font-size: 1.5rem;
  color: var(--ion-text-color);
}

/* Menü Liste */
.hackathon-card ion-list {
  background-color: var(--ion-card-background);
  color: var(--ion-text-color-light);
}

.hackathon-card ion-item {
  align-items: flex-start;
  font-size: 1.2rem;
  color: var(--ion-text-color-dark);
  --ion-item-background: transparent;
  --ion-item-hover-background: rgba(255, 255, 255, 0.1); /* Leichter Hover-Effekt */
}

.hackathon-card ion-item ion-label ion-text {
  font-size: 0.9rem;
  color: var(--ion-text-color-light);
}

.hackathon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
