:root {
  --ion-background-color: #1e1e2f;
  --ion-text-color: #ffffff;
  --ion-card-background: #2e2e3e;
  --ion-color-primary: #00ffff; /* Neon Cyan */
  --ion-color-secondary: #ff00ff; /* Neon Magenta */
  --ion-color-tertiary: #00ff00; /* Neon Grün */
  --ion-color-tertiary-contrast: #1e1e2f;
  --ion-font-family: 'Source Code Pro', monospace;
  --ion-color-warning: #ff6b6b;
}

body {
  background: radial-gradient(circle, #1e1e2f, #121212);
  font-family: 'Source Code Pro', monospace;
  overflow: hidden; /* Verhindert Scrollen durch Animation */
  background-image:
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* Größe des Grid-Musters */
}

ion-menu ion-header {
  --ion-background-color: #1e1e2f; /* Dunkler Blauton */
  --ion-text-color: #ffffff;
}

/* Menü Liste */
ion-menu ion-list {
  --ion-background-color: #2e2e3e; /* Etwas heller als der Header */
  --ion-text-color: #ffffff;
}

ion-menu ion-item {
  font-size: 1.2rem;
  color: #ffffff;
  --ion-item-background: transparent;
  --ion-item-hover-background: rgba(255, 255, 255, 0.1); /* Leichter Hover-Effekt */
}

ion-menu ion-icon {
  color: #ffffff;
}

ion-button {
  background-color: var(--ion-color-primary);
  color: #000;
  border-radius: 8px;
  margin-top: 10px;
  transition:
    box-shadow 0.3s,
    transform 0.3s;
}

ion-button:hover {
  box-shadow: 0 0 10px var(--ion-color-primary);
  transform: scale(1.05);
}

ion-select {
  font-size: 1.5rem;
  color: var(--ion-color-primary);
}

.custom-toast {
  --background: var(--ion-color-primary);
  --color: white; /* Textfarbe */
  --border-radius: 12px; /* Abgerundete Ecken */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schatten */
  font-size: 1rem; /* Schriftgröße */
  padding: 16px; /* Innenabstand */
  margin-bottom: 40px;
}

/* Toast Messages */

.custom-toast-error {
  --background: #ff6b6b; /* Fehlerfarbe */
  --color: white;
  --border-radius: 12px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 16px;
}

.hackathon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vh;
}

.hackathon-card {
  background-color: var(--ion-card-background);
  color: var(--ion-text-color);
  border-radius: 12px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.hackathon-card ion-card-title {
  font-size: 1.8rem;
  margin-bottom: 10px; /* Mehr Abstand unter dem Titel */
  color: #ffffff; /* Weiße Schrift */
  border-bottom: 2px solid #e9e2bc; /* Gelbe Unterstreichung */
  padding-bottom: 5px;
}

.hackathon-card ion-card-content {
  font-size: 1.5rem;
  color: #e0e0e0;
}

/* Menü Liste */
.hackathon-card ion-list {
  background-color: var(--ion-card-background);
  --ion-text-color: #ffffff;
}

.hackathon-card ion-item {
  align-items: flex-start;
  font-size: 1.2rem;
  color: #ffffff;
  --ion-item-background: transparent;
  --ion-item-hover-background: rgba(255, 255, 255, 0.1); /* Leichter Hover-Effekt */
}

.hackathon-card ion-item ion-label ion-text {
  font-size: 0.9rem;
  color: #a0a0a0;
}

.hackathon-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.4);
}

.hackathon-content {
  padding: 16px;
}

.hackathon-grid {
  margin-top: 16px;
}
