.register-card:hover {
  transform: none;
  box-shadow: none;
}
.register-card {
  width: 100%; 
  max-width: 400px;
  margin: 0 auto 20px auto;
}

.register-input {
  font-size: 1.0rem;
  margin-bottom: 20px;
}

.password-error {
  font-size: 0.9rem;
  margin-top: 4px;
  margin-left: 16px;
  color: var(--ion-color-danger); /* Standard-Ionic-Farbe für Fehler */
}